<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
																		<!--DBCPInitListener안쓰니까 삭제  -->	
  <filter>
  	<filter-name>encodingFilter</filter-name>
  	<filter-class>util.CharacterEncodingFilter</filter-class>			<!--수정: 복붙 -->
  	<init-param>
  		<param-name>encoding</param-name>
  		<param-value>euc-kr</param-value>
  	</init-param>
  </filter>
  <filter-mapping>
  	<filter-name>encodingFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <servlet>
  	<servlet-name>join</servlet-name>
  	<servlet-class>controller.join.JoinController</servlet-class>
  	<init-param>
  		<param-name>configFile</param-name>
  		<param-value>/WEB-INF/commandHandlerURI.properties</param-value>
  	</init-param>
  	<load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
  	<servlet-name>join</servlet-name>
  	<url-pattern>/join/*</url-pattern>						<!--수정: rest방식으로 할거기 때문에 path줌 -->
  </servlet-mapping>
</web-app>